<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div>
      <p>Welcome</p>
      <p>Sign in to your account</p>
      <form id="loginForm" action="/signin" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>
      <p>
        Don't have an account? <span><a href="/signup">Sign Up Now</a></span>
      </p>
      <p id="loginMessage"></p>
    </div>
    <br />
  </body>
</html>
