<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div>
      <p>Get Started</p>
      <p>Sign Up</p>
      <form id="signupForm" action="/signup" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Sign Up</button>
      </form>
      <p>
        Have an account? <span><a href="/">Log In</a></span>
      </p>
      <p id="signupMessage"></p>
    </div>
  </body>
</html>
